<!DOCTYPE html>
<html lang="en" ng-app="employeeApp">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Employee Tracker</title>
      <!-- CSS -->
      <link rel="stylesheet" href="../../assets/vendor/vendor-css/bootstrap.min.css" />
      <link rel="stylesheet" href="../../assets/vendor/vendor-css/metisMenu.min.css" />
      <link rel="stylesheet" href="../../assets/vendor/css/main.css">
      <link rel="stylesheet" href="../../assets/vendor/css/sb-admin-2.css">
      <link rel="stylesheet" href="../../assets/vendor/css/angular-moment-picker.min.css">
      <link rel="stylesheet" href="../../assets/vendor/vendor-css/font-awesome.min.css" />
      <link rel="stylesheet" href="../../assets/vendor/vendor-css/nv.d3.min.css" />
      <link rel="stylesheet" href="../../assets/vendor/css/animate.css" />
      <link rel="stylesheet" href="../../assets/vendor/css/loading-bars.css" />
      <link rel="stylesheet" href="../../assets/vendor/vendor-css/footable.core.min.css" />
   </head>
   <body>
      <!-- Simple splash screen-->
      <div class="splash">
         <div class="color-line"></div>
         <div class="splash-title">
            <img src="../../assets/vendor/images/loading-bars.svg" width="64" height="64" />
         </div>
      </div>
      <div id="wrapper">
         <!-- Navigation Area -->
         <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <!-- navbar-header -->
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="index.html">Employee Tracker</a>
            </div>
            <!-- /.navbar-header -->
            <!-- navbar-top-links -->
            <ul class="nav navbar-top-links navbar-right">
               <!-- dropdown envelope icon -->
               <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                  </a>
                  <!-- dropdown-messages -->
                  <ul class="dropdown-menu dropdown-messages">
                     <li>
                        <div class="text-center small">
                           <strong>You have 4 tutorials</strong>
                        </div>
                     </li>
                     <li class="divider"></li>
                     <li>
                        <a href="http://www.cc28tech.com/employee-tracker-angularjs-web-api-part-1" target="_blank">
                           <div class="small">
                              <strong>Part 1: </strong>
                              <span class="text-info">
                              Create a Web API Application in C#
                              </span>
                           </div>
                        </a>
                     </li>
                     <li class="divider"></li>
                     <li>
                        <a href="http://www.cc28tech.com/employee-tracker-angularjs-web-api-part-2" target="_blank">
                           <div class="small">
                              <strong>Part 2: </strong>
                              <span class="text-info">
                              Create Web API Services
                              </span>
                           </div>
                        </a>
                     </li>
                     <li class="divider"></li>
                     <li>
                        <a href="http://www.cc28tech.com/employee-tracker-angularjs-web-api-part-3" target="_blank">
                           <div class="small">
                              <strong>Part 3: </strong>
                              <span class="text-info">
                              Create a SPA in AngularJS
                              </span>
                           </div>
                        </a>
                     </li>
                     <li class="divider"></li>
                     <li>
                        <a href="http://www.cc28tech.com/employee-tracker-angularjs-web-api-part-4" target="_blank">
                           <div class="small">
                              <strong>Part 4: </strong>
                              <span class="text-info">
                              Create Features in AngularJS
                              </span>
                           </div>
                        </a>
                     </li>
                     <li class="divider"></li>
                     <li>
                        <a class="text-center text-info small" href="http://www.cc28tech.com" target="_blank">
                           <div class="text-info">
                              <strong>See Other Tutorials</strong>
                           </div>
                        </a>
                     </li>
                  </ul>
                  <!-- /.dropdown-messages -->
               </li>
               <!-- /.dropdown envelope icon -->
               <!-- dropdown user icon -->
               <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                  </a>
                  <!-- dropdown-user -->
                  <ul class="dropdown-menu dropdown-user">
                     <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                     </li>
                     <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                     </li>
                     <li class="divider"></li>
                     <li><a href="../../views/login/login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                     </li>
                  </ul>
                  <!-- /.dropdown-user -->
               </li>
               <!-- /.dropdown user icon -->
            </ul>
            <!-- /.navbar-top-links -->
            <!-- navbar-static-side -->
            <div class="navbar-default sidebar" role="navigation" sidebar>
               <!-- sidebar-collapse -->
               <div class="sidebar-nav navbar-collapse">
                  <ul class="nav" id="side-menu">
                     <li ui-sref-active="active">
                        <a href="../../views/dashboard/dashboard.html">
                        <i class="fa fa-dashboard"></i>
                        <span class="nav-label">Dashboard</span>
                        </a>
                     </li>
                     <li ui-sref-active="active">
                        <a href="../../views/employee/employee.html">
                        <i class="fa fa-table"></i>
                        <span class="nav-label">Employees</span>
                        </a>
                     </li>
                     <li ui-sref-active="active" class="active">
                        <a href="#">
                        <i class="fa fa-check"></i>
                        <span class="nav-label">Attendance</span>
                        </a>
                     </li>
                     <li ui-sref-active="active">
                        <a href="../../views/salary/salaryInitiat.html">
                        <i class="fa fa-inr"></i>
                        <span class="nav-label">Salary Initiation</span>
                        </a>
                     </li>
                     <!--<li ng-class="{active: collapseVar==1}">{{dropDown}}
                        <a href="" ng-click="check(1)"><i class="fa fa-wrench fa-fw"></i> UI Elements<span
                                class="fa arrow"></span></a>
                        <ul class="nav nav-second-level" collapse="collapseVar!=1">
                            <li ui-sref-active="active">
                                <a ui-sref="dashboard.panels-wells">Panels and Wells</a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="dashboard.buttons">Buttons</a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="dashboard.notifications">Notifications</a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="dashboard.typography">Typography</a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="dashboard.icons"> Icons</a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="dashboard.grid">Grid</a>
                            </li>
                        </ul>                        
                    </li>-->
                  </ul>
               </div>
               <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
         </nav>
         <!-- End Navigation Area -->
         <!-- Content Area -->
         <!-- ng-class with current state name give you the ability to extended customization your view -->
         <div id="page-wrapper" class="gray-bg {{$state.current.name}}">
            <!-- Nested view  -->
            <div class="tempLate animated slideInRight" ng-controller="attendanceController as vm" ng-init="vm.init(1)">
               <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <h2>Attendance</h2>
                     <ol class="breadcrumb">
                        <li><a ui-sref="home.dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                        <li class="active"><i class="fa fa-table"></i> {{vm.title}}</li>
                     </ol>
                  </div>
               </div>
               <!-- /.row -->
               <div class="row" style="margin-bottom: 10px;">
                  <div class="col-sm-3 col-xs-10" style="padding-right: 0px">
                     <div class="input-group"
                        change="vm.init()"
                        moment-picker="vm.uploadDownloadFilter.currentYearMonth"
                        start-view="month"
                        format="MMMM-YYYY">
                        <span class="input-group-addon">
                        <i class="fa fa-calendar fa-fw"></i>
                        </span>
                        <input class="form-control"
                           ng-model="vm.uploadDownloadFilter.currentYearMonth"
                           ng-model-options="{ updateOn: 'blur' }">
                     </div>
                  </div>
                  <div class="col-sm-3">
                      <input type="text" ng-model="vm.uploadDownloadFilter.process" class="form-control" placeholder="Process">
                  </div>
                  <div class="col-sm-3 grid-padding-0">
                      <div class="col-sm-4 grid-padding-0">
                        <label class="btn-bs-file btn btn-primary">
                            Browse
                            <input type="file" fileinput="vm.attendancefile"/>
                        </label>
                      </div>
                      <div class="col-sm-8 grid-padding-0">
                          <input class="form-control" disabled ng-model="vm.attendancefile.name">
                      </div>                    
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-primary pull-left" ng-click="vm.uploadAttendanceExcel()"><i class="fa fa-upload" aria-hidden="true"></i>&nbsp; Upload</button>
                   <button class="btn pull-right"><i class="fa fa-download"></i> Download</button>
               </div> 
               </div>
            </div>
         </div>
         <!-- End Content Area -->
      </div>
      <script src="../../assets/vendor/js/jquery.min.js"></script>
      <script src="../../assets/vendor/js/bootstrap.min.js"></script>
      <script src="../../assets/vendor/js/metisMenu.min.js"></script>
      <script src="../../assets/vendor/js/angular.min.js"></script>
      <script src="../../assets/vendor/js/angular-ui-router.min.js"></script>
      <script src="../../assets/vendor/js/d3.min.js"></script>
      <script src="../../assets/vendor/js/nv.d3.min.js"></script>
      <script src="../../assets/vendor/js/angular-nvd3.min.js"></script>
      <script src="../../assets/vendor/js/moment.min.js"></script>
      <script src="../../assets/vendor/js/footable.all.min.js"></script>
      <script src="../../assets/vendor/js/angular-footable.min.js"></script>
      <script src="../../assets/vendor/js/sb-admin-2.js"></script>
      <script src="../../assets/vendor/js/moment-with-locales.js"></script>
      <script src="../../assets/vendor/js/angular-moment-picker.min.js"></script>      
      <script src="../../assets/vendor/js/loading-bars.js"></script>
      <script src="../../assets/vendor/js/lodash.js"></script>

      <script src="../../assets/attendance/attendance.controller.js"></script>
      <script src="../../assets/attendance/attendance.service.js"></script>
      <script src="../../assets/attendance/directive.js"></script>

      <script src="../../assets/common/service.js"></script>
      <script>
         function toggleIcon(e) {
             $(e.target)
                     .prev('.panel-heading')
                     .find(".collapse-icon")
                     .toggleClass('fa-angle-down fa-angle-up');
             }
             $('.panel-group').on('hidden.bs.collapse', toggleIcon);
             $('.panel-group').on('shown.bs.collapse', toggleIcon);
      </script>
   </body>
</html>